$type: monster;
// @if可一个条件单独使用，也可以和@else结合多条件使用
.if {
  @if $type == ocean {
    color: blue;
  } @else if $type == matador {
    color: red;
  } @else if $type == monster {
    color: green;
  } @else {
    color: black;
  }
}

// if($condition, $if_true, $if_false) 。三个参数分别表示：条件，条件为真的值，条件为假的值。
.if {
  font-size: if(true, 22px, 2px)
}

//for循环有两种形式，分别为：@for $i from <start> through <end>和@for $i from <start> to <end>。
//$i表示变量，start表示起始值，end表示结束值，这两个的区别是关键字through表示包括end这个数，而to则不包括end这个数。
.if {
  @for $i from 1 through 3 {
    .item-#{$i} {
      display: inline-block;
      border: solid 2px #3417DB;
      background-color: #DB7617;
      border-radius: 10px;
      margin-top: 10px;
      width: 4.5em * $i;
      height: 40px;
      &:after{
        margin-left: 10px;
        content: 'for循环'; 
      }
    }
  }
}
