
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1505741296154')/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:36px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sass:before { content: "\e601"; }

.icon-sass1:before { content: "\e646"; }

.icon-sass2:before { content: "\e61f"; }

.icon-sass3:before { content: "\e62e"; }

.icon-sass4:before { content: "\e653"; }

